body {
}

.input_background {
    position: absolute;
    height: 69.6px;
    left: 52.23px;
    right: 1059.34px;
    top: 527.7px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}